:root {
    --main_color:#CD1A40;
    --text_color:#fff;
    --text-color2:#141414;
    --main-color-gradient:linear-gradient(90deg,#CD1A40,#FF803C);

}

* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    font-family: "work sans" , sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    gap: 30px;
}

button {
    background: var(--main-color-gradient);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    color: var(--text_color);
    font-weight: 700;
}

section {
    padding: 100px;
}

article {
    align-items: center;
}

.container {
    width: 85vw;
    padding-inline: 18px;
    margin-inline: auto;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.title {
    font-size: 48px;
    font-weight: 400;
    font-family: "water brush";
    color: var(--main_color);
}
.big-text {
    font-size: 64px;
    font-weight: 200;
}

.left {
    text-align: left;
}

/*header section*/

.header {
    background-color: transparent;
    padding: 20px;
    position: absolute;
    top: 1;
    width: 100vw;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fff;

}

.logo {
    color: var(--main_color);
    font-size: 36px;
    font-family: "Clicker Script" ;
}

.navbar {
    font-weight: 300;
}

.sign {
    font-weight: 700;
    gap: 20px;
    align-items: center;
}

.sign button {
    padding: 10px 25px;
    color: var(--text_color);
    font-weight: 700;
    margin: 15px;
}

/*hero section*/

.hero {
    height: 100vh;
    background: linear-gradient(90deg,#00000080 70%,#ffffff7c),
     url(./photos/29af41f7c18f1a06d7533ddf87402fc8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.hero-content {
    align-self: center;
    width: 580px;
    color: var(--text_color);
}

.hero-content h1 {
    font-size: 46px;
    font-family: "Water Brush";
}

.hero-content .big-text{
    font-size: 86px;
    font-weight: 700;
}

.card {
    justify-content: space-between;
    align-items: center;
    background-color: #80808033;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 18px;
}

.card article i {
    font-size: 28px;
    margin-right: 15px;
}

.card article p {
    font-weight: 400;
}

.card article .strong {
    font-size: 18px;
    font-weight: 700;
}

.card hr {
    height: 20px;
}
.card button {
    width: 65px;
    height: 65px;
}
.card button:active {
    box-shadow: 1px 1px 1px 1px #ffffffa2 , -1px -1px 1px 1px #ffffffa2;
}
.card i {
    font-size: 24px;
    color: var(--text_color);
}

/*destinations section*/

.destinations {
    margin: 20px 0;
}


.destinations-group {
    display: grid;
    grid-template-columns:repeat(4 , 1fr);
    grid-auto-rows: 200px;
    grid-template-areas: 
    "malasia malasia dubai greece"
    "malasia malasia singapor singapor";
    gap: 15px;
    padding: 40px 0;
    justify-content: center;
}

.location {
    position: relative;
    transition: 0.3s ease;
}

.destinations-group img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.location::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1414146e;
    transition: 0.3s ease;
}
.location:hover::after{
    background-color:transparent;
}

.location div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 3;
}

.location div p {
    font-size: 46px;
    font-weight: 400;
    font-family: "water brush";
    color: var(--text_color);
}

.location div button {
    width: 100px;
    height: 48px;
}

.malasia {
    grid-area: malasia;
}
.dubai {
    grid-area: dubai;
}
.greece {
    grid-area: greece;
}
.singapor {
    grid-area: singapor;
}

.destinations button {
    width: 122px;
    height: 52px;

}

/*activity section*/


.activity-list {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(270px , 1fr));
    gap: 20px;
    justify-content: space-between;
    padding: 30px 0;
}

.activity {
    background-color: #FFF9F0;
    backdrop-filter: blur(10px);
    align-self: center;
    padding: 35px;
    border-radius: 5px;
    color: #999999;
}

.activity:hover {
    color: #fff;
    background: var(--main-color-gradient);
    fill: #fff;
    transition: 0.3 ease;
}

.activity:hover svg path {
    fill: #fff;
}

.activity h3 {
    font-size: 32px;
    font-weight: 700;
}
/*packages section*/
.packages-list {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(270px , 1fr));
    grid-auto-rows: 412px;
    margin-top: 30px;
    gap: 20px;
}

.package {
    background-color: #FFF9F0;
    border-radius: 6px;
}

.package img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
}

.package .package-text {
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.package-title {
    font-size: 24px;
    font-weight: 500;
}

.package-sub {
    font-weight: 300;
}

.price {
   font-weight: 600;
}


/* shared photos section*/

.photos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(270px , 1fr));
    justify-content: space-between;
    grid-auto-rows: 486px;
    gap: 20px;
    margin: 50px 0;
}

.photos-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*reviews section*/

.reviews {
    margin-bottom: 200px;
}

.chat-bubble {
    background: var(--main-color-gradient);
    padding: 50px;
    margin-inline: auto;
    margin-top: 50px;
    position: relative;
    color: var(--text_color);
    font-weight: 400;
    width: 80%;
}

.chat-bubble::after {
    content: "";
    position: absolute;
    bottom: 1;
    left: 60%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    transform: rotate(-90deg);
    border-top-color:#ff0000b7;
    border-radius: 10px;
    z-index: -1;
}

.chat-bubble::before {
    content: ",,";
    position: absolute;
    top: -30px;
    left: 10%;
    scale: 6;
    font-weight: 500;
    font-family: "Archivo Black";
    color: #141414;
}

.reviewers {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-inline: auto ;
    margin-top: 50px;
    flex-wrap: wrap
}

.reviewers img {
    width: 70px;
    height: auto;
}

.reviewers div {
    align-items: center;
}

/*check section*/

.check {
    background: var(--main-color-gradient);
    width: 100%;
    position: relative;
}

.check-content {
    width: 40vw;
    margin-left: auto;
    color: var(--text_color);
}

.check-content h2 {
    font-size: 46px;
    font-weight: 700;
}
.form {
    flex-wrap: wrap;
}

.form input {
    padding: 20px;
    border: none;
}

.form:active {
    border: none;
}

.email {
    background-color: #fff9f060;
}

.email::placeholder {
    color: #FFF9F0;
}

.email:focus {
    outline: none;
}

.submit {
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 0;
    color: var(--main_color);
    font-size: 20px;
}

.check img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 565px;
    width: 46%;
}






